<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default('Dashboard') }}</title>
    {{stylesheet([
        '@xsanisty-admin/css/bootstrap.min.css',
        '@xsanisty-admin/css/font-awesome.min.css',
        '@xsanisty-admin/css/dashboard/dashboard.css',
        '@xsanisty-admin/css/themes/blue.css',
    ])}}

    {{stylesheet()}}
</head>
<body>
    <div id="page-wrapper">

        {# sidebar #}
        {% include '@xsanisty-admin/sidebar.twig' %}

        <div id="content-wrapper">
            <div class="page-content">

                {# header #}
                {% include '@xsanisty-admin/header.twig' %}

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>

    {{javascript([
        '@xsanisty-admin/js/jquery.min.js',
        '@xsanisty-admin/js/bootstrap.min.js',
        '@xsanisty-admin/js/jquery.cookie.js',
        '@xsanisty-admin/js/jquery/bootstrap.js'
    ])}}
    {{javascript()}}
</body>
</html>